<div class="header-container">
  <h1 class="header">NTT Music</h1>
  <div>
    <button type="button" (click)="goBack()">Voltar</button>
  </div>
</div>

<div class="container">
  <div *ngIf="loading()" class="loading-container">
    <p>Carregando álbum...</p>
  </div>

  <div *ngIf="error()" class="error-message">
    {{ error() }}
  </div>

  <div *ngIf="!loading() && !error() && album()" class="album-info">
    <img [src]="album()?.images?.[0]?.url || placeholder" alt="{{ album()?.name }}" />
    <div class="details">
      <h2>{{ album()?.name }}</h2>
      <p>Artista: {{ album()?.artists?.[0]?.name }}</p>
      <p>Lançamento: {{ album()?.release_date | date : 'dd/MM/yyyy' }}</p>
      <p>Total de faixas: {{ album()?.total_tracks }}</p>
    </div>
  </div>

  <div *ngIf="!loading() && !error() && album()?.tracks?.items?.length">
    <h3>Faixas</h3>
    <div class="tracks">
      <div
        class="track"
        *ngFor="let track of album()?.tracks?.items; index as i"
        (click)="goToTrack(track.external_urls.spotify)"
      >
        <div class="track-informations">
          <span class="track-number">{{ i + 1 }}</span>
          <span>{{ track.name }}</span>
        </div>
        <span>{{ formatDuration(track.duration_ms) }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="!loading() && !error() && album() && !album()?.tracks?.items?.length" class="error-message">
    Nenhuma faixa encontrada.
  </div>
</div>
