 <div class="header-container">
    <h1 class="header">NTT Music</h1>
    <div>
        <button type="button" (click)="goBack()">Voltar</button>
    </div>
  </div>

<div class="container" *ngIf="album(); else loadingOrError">
  <div class="album-info">
    <img [src]="album()?.images?.[0]?.url || placeholder" alt="{{ album()?.name }}" />
    <div class="details">
      <h2>{{ album()?.name }}</h2>
      <p>Artista: {{ album()?.artists?.[0]?.name }}</p>
      <p>Lançamento: {{ album()?.release_date }}</p>
      <p>Total de faixas: {{ album()?.total_tracks }}</p>
    </div>
  </div>

  <h3>Faixas</h3>
  <div class="tracks">
    <div class="track" *ngFor="let track of album()?.tracks?.items; index as i" (click)="goToTrack(track.external_urls.spotify)">
      <div class="track-informations">
        <span class="track-number">{{ i + 1 }}</span>
        <img [src]="album()?.images?.[0]?.url || placeholder" alt="{{ album()?.name }}" />
      </div>

      <span>{{ track.name }}</span>
      <span>{{ formatDuration(track.duration_ms) }}</span>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <div *ngIf="loading()" class="loading-container">
    <p>Carregando álbum...</p>
  </div>
  <div *ngIf="error()" class="error-message">
    {{ error() }}
  </div>
</ng-template>
